<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aufgaben Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aufgaben Test</ion-title>
    </ion-toolbar>
  </ion-header>


  <div *ngIf="isLoading" style="text-align: center; padding: 20px;">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Lade Aufgaben...</p>
  </div>

  <div *ngIf="errorMessage && !isLoading" style="text-align: center; padding: 20px; color: red;">
    <p>{{ errorMessage }}</p>
    <ion-button (click)="loadTasks()">Erneut versuchen</ion-button>
  </div>

  <ion-list *ngIf="!isLoading && !errorMessage && tasks.length > 0">

    <ion-card *ngFor="let task of tasks" class="ion-margin-bottom" >
      <div id="map-{{task.id}}" style="height: 200px; width: 100%;">
        
      </div>
      <ion-card-header>
        <ion-card-title>{{ task.title }}</ion-card-title>
        <ion-card-subtitle>Erstellt: {{ task.created_at | date:'dd.MM.yyyy HH:mm' }}</ion-card-subtitle>
        <ion-card-subtitle>Geändert: {{ task.updated_at | date:'dd.MM.yyyy HH:mm' }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ task.description }}
      </ion-card-content>

      <ion-item>
        <ion-label>Erledigt:</ion-label>
        <ion-toggle slot="end" 
                    [checked]="task.is_done"></ion-toggle>
      </ion-item>

      <ion-button fill="clear" (click)="onEditTask(task)">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Bearbeiten
      </ion-button>

      <ion-button fill="clear" color="danger" (click)="onDeleteTask(task.id)">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Löschen
      </ion-button>
      <div *ngIf="task.latitude !== null && task.longitude !== null" style="font-size: 0.8em; color: grey; margin-top: 5px;">
        <ion-icon name="location-outline" style="vertical-align: middle;"></ion-icon>
        Lat: {{ task.latitude }}, Lon: {{ task.longitude }}
      </div>
    </ion-card>

  </ion-list>

  <div *ngIf="!isLoading && !errorMessage && tasks.length === 0" style="text-align: center; padding: 20px;">
    <p>Keine Aufgaben vom Backend erhalten.</p>
  </div>

  <ion-fab slot="fixed" verticlal="bottom" horizontal="end">
    <ion-fab-button (click)="navigateToAddTaskPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>